<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-motcle-heading" jhiTranslate="projetApp.motcle.home.createOrEditLabel">Create or edit a Motcle</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!recherche.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           [(ngModel)]="recherche.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_motcle"> <legend>Mot Clé</legend></label>
                    <select class="custom-select" id="field_motcle" name="motcle" [(ngModel)]="recherche.motcle">
                        <option selected="">Mot Cle</option>

                        <option [ngValue]="motcleOption.id === recherche.motcle?.id ? recherche.motcle : motcleOption" *ngFor="let motcleOption of motcles; trackBy: trackMotcleById">{{motcleOption.nom}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_periodicite"> <legend>Periodicite</legend></label>
                    <input type="number" class="form-control" name="periodicite" id="field_periodicite"
                           [(ngModel)]="recherche.periodicite" required/>
                    <div [hidden]="!(editForm.controls.periodicite?.dirty && editForm.controls.periodicite?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.periodicite?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.periodicite?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <fieldset class="form-group">
                    <legend>Notification</legend>
                    <div class="form-check">
                        <label class="form-check-label" for="field_emailnotif">

                            <input class="form-check-input" type="checkbox" name="emailnotif" id="field_emailnotif"
                                   [(ngModel)]="recherche.emailnotif">
                            Email
                            <div [hidden]="!(editForm.controls.emailnotif?.dirty && editForm.controls.emailnotif?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.emailnotif?.errors?.required">
                                    This field is required.
                                </small>
                            </div>
                        </label>
                    </div>
                    <div class="form-check ">
                        <label class="form-check-label"for="field_pushnotif">
                            <input class="form-check-input" type="checkbox"  name="pushnotif" id="field_pushnotif"
                                   [(ngModel)]="recherche.pushnotif">
                            PUSH

                            <div [hidden]="!(editForm.controls.pushnotif?.dirty && editForm.controls.pushnotif?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.pushnotif?.errors?.required">
                                This field is required.
                            </small>
                    </div>
                        </label>
                    </div>
                    <div class="form-check ">
                        <label class="form-check-label"for="field_smsnotif">
                            <input class="form-check-input" type="checkbox" name="smsnotif" id="field_smsnotif"
                                   [(ngModel)]="recherche.smsnotif" /> SMS

                            <div [hidden]="!(editForm.controls.smsnotif?.dirty && editForm.controls.smsnotif?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.smsnotif?.errors?.required">
                                    This field is required.
                                </small>
                            </div>
                        </label>
                    </div>

                </fieldset>
              <!--  <div class="form-group">
                    <label class="form-control-label" for="field_emailnotif">Emailnotif</label>
                    <input type="checkbox" class="form-control" name="emailnotif" id="field_emailnotif"
                           [(ngModel)]="recherche.emailnotif" />
                    <div [hidden]="!(editForm.controls.emailnotif?.dirty && editForm.controls.emailnotif?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.emailnotif?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_pushnotif">Pushnotif</label>
                    <input type="checkbox" class="form-control" name="pushnotif" id="field_pushnotif"
                           [(ngModel)]="recherche.pushnotif" />
                    <div [hidden]="!(editForm.controls.pushnotif?.dirty && editForm.controls.pushnotif?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.pushnotif?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_smsnotif">Smsnotif</label>
                    <input type="checkbox" class="form-control" name="smsnotif" id="field_smsnotif"
                           [(ngModel)]="recherche.smsnotif" />
                    <div [hidden]="!(editForm.controls.smsnotif?.dirty && editForm.controls.smsnotif?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.smsnotif?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>-->

                <div class="form-group">
                    <label class="form-control-label" for="field_source"> <legend>Source</legend></label>
                    <!--   <select class="form-control" id="field_source" multiple name="source" [(ngModel)]="recherche.source">
                           <option *ngFor="let r of recherche" [value]="r">{{r.sources.nom}}</option>
                       </select>-->

                        <select multiple=" " class="form-control" id="field_source" name="source"  [(ngModel)]="recherche.source"  (ngModelChange) ="recup($event)" >
                            <option [ngValue]="null"></option>
                            <option [ngValue]="sourceOption.id === recherche.source?.id ? recherche.source : sourceOption" *ngFor="let sourceOption of sources; trackBy: trackSourceById">{{sourceOption.nom}}</option>
                        </select>

                  <!--  <select class="form-control" id="field_source" name="source" [(ngModel)]="recherche.source" multiple  (ngModelChange) ="recup($event)" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sourceOption.id === recherche.source?.id ? recherche.source : sourceOption" *ngFor="let sourceOption of sources; trackBy: trackSourceById">{{sourceOption.nom}}</option>
                    </select>-->
                </div>
                <!--   <div class="form-group">
                     <label class="form-control-label" for="field_motcle">Motcle</label>
                     <select class="form-control" id="field_motcle" name="motcle" [(ngModel)]="recherche.motcle" >
                         <option [ngValue]="null"></option>
                         <option [ngValue]="motcleOption.id === recherche.motcle?.id ? recherche.motcle : motcleOption" *ngFor="let motcleOption of motcles; trackBy: trackMotcleById">{{motcleOption.nom}}</option>
                     </select>
                 </div>
             </div>-->


             <div>
                 <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                     <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                 </button>
                 <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                     <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                 </button>
             </div>
            </div>
        </form>


     </div>
 </div>
