<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetApp.recherche.home.title">Recherches</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-recherche" [routerLink]="['/recherche/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="projetApp.recherche.home.createLabel">
            Create new Recherche
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="recherches">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="periodicite"><span jhiTranslate="projetApp.recherche.periodicite">Periodicite</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="motcle.id"><span jhiTranslate="projetApp.recherche.motcle">Motcle</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="source.id"><span jhiTranslate="projetApp.recherche.source">Source</span><fa-icon [icon]="'sort'"></fa-icon></th>

                <th jhiSortBy="emailnotif"><span jhiTranslate="projetApp.recherche.emailnotif">Emailnotif</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pushnotif"><span jhiTranslate="projetApp.recherche.pushnotif">Pushnotif</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="smsnotif"><span jhiTranslate="projetApp.recherche.smsnotif">Smsnotif</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="activated"><span jhiTranslate="projetApp.recherche.activated">Activated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
           <th>
            </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let recherche of recherches ;trackBy: trackId">
                <td><a [routerLink]="['/recherche', recherche.id, 'view' ]">{{recherche.id}}</a></td>
                <td>{{recherche.periodicite}}</td>
                <td>
                    <div *ngIf="recherche.motcle">
                        <a [routerLink]="['../motcle', recherche.motcle?.id, 'view' ]" >{{recherche.motcle?.nom}}</a>
                    </div>
                </td>
                <td>

                    <span *ngFor="let source of recherche.sources">
                        <a [routerLink]="['/source', source?.id, 'view' ]">{{source.nom}}</a>
                    </span>

                </td>
                <td>{{recherche.emailnotif}}</td>
                <td>{{recherche.pushnotif}}</td>
                <td>{{recherche.smsnotif}}</td>
                <td>
                    <button class="btn btn-success btn-sm" >{{recherche.activated}}</button>
                </td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/recherche', recherche.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/recherche', recherche.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'recherche', { outlets: { popup: recherche.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="recherches && recherches.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
