<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetApp.userExtra.home.title">User Extras</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-extra" [routerLink]="['/user-extra/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="projetApp.userExtra.home.createLabel">
            Create new User Extra
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="userExtras">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th><span jhiTranslate="projetApp.userExtra.phone">Phone</span><fa-icon [icon]="'sort'"></fa-icon></th>
            <th><span jhiTranslate="projetApp.userExtra.pushid">Pushid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th><span jhiTranslate="projetApp.userExtra.user.email">Email</span><fa-icon [icon]="'sort'"></fa-icon></th>
            <th><span jhiTranslate="projetApp.userExtra.user.lastName">Nom</span><fa-icon [icon]="'sort'"></fa-icon></th>
            <th><span jhiTranslate="projetApp.userExtra.user.activated">Activeted</span><fa-icon [icon]="'sort'"></fa-icon></th>

            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userExtra of userExtras ;trackBy: trackId">
                <td><a [routerLink]="['/user-extra', userExtra.id, 'view' ]">{{userExtra.id}}</a></td>
                <td>{{userExtra.phone}}</td>
                <td>{{userExtra.pushid}}</td>
                <td>
                    {{userExtra.user.email}}
                </td> <td>
                    {{userExtra.user.firstName}}
                </td>       <td>{{userExtra.user.activated}}
                 </td>


                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/user-extra', userExtra.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-extra', userExtra.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'user-extra', { outlets: { popup: userExtra.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
