<div>
    <h1 class="display-4" jhiTranslate="home.title">Welcome, Web Monitoring!</h1>

    <p>

        <button type="submit"
                (click)="scrap()"
                class="btn btn-primary">
            <fa-icon icon="tachometer-alt" fixedWidth="true"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="">Démarrer</span>
        </button>
        <button type="submit"
                (click)="stop()"
                class="btn btn-primary btn-danger">
            <fa-icon icon="tachometer-alt" fixedWidth="true"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="">Arréter</span>
        </button>
    </p>
<div >
    <p>
        {{etat}}
    </p>
</div>


    <div class="table-responsive" *ngIf="resultatItems">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="titre"><span jhiTranslate="projetApp.resultatItem.titre">Titre</span> <fa-icon [icon]="'sort'"></fa-icon></th>

                <th jhiSortBy="contenu"><span jhiTranslate="projetApp.resultatItem.contenu">Contenu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="date"><span jhiTranslate="projetApp.resultatItem.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let resultatItem of resultatItems ;trackBy: trackId">

                <td><a href="{{resultatItem.url}}"  target="_blank" >{{resultatItem.titre}}</a></td>
                <td>{{resultatItem.contenu}}</td>

                <td>{{resultatItem.date}}</td>


            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="resultatItems && resultatItems.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>


</div>

