<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="resultatItem">
            <h2><span jhiTranslate="projetApp.resultatItem.detail.title">Resultat Item</span> {{resultatItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetApp.resultatItem.contenu">Contenu</span></dt>
                <dd>
                    <span>{{resultatItem.contenu}}</span>
                </dd>
                <dt><span jhiTranslate="projetApp.resultatItem.statu">Statu</span></dt>
                <dd>
                    <span>{{resultatItem.statu}}</span>
                </dd>
                <dt><span jhiTranslate="projetApp.resultatItem.note">Note</span></dt>
                <dd>
                    <span>{{resultatItem.note}}</span>
                </dd>
                <dt><span jhiTranslate="projetApp.resultatItem.titre">Titre</span></dt>
                <dd>
                    <span>{{resultatItem.titre}}</span>
                </dd>
                <dt><span jhiTranslate="projetApp.resultatItem.date">Date</span></dt>
                <dd>
                    <span>{{resultatItem.date}}</span>
                </dd>
                <dt><span jhiTranslate="projetApp.resultatItem.url">Url</span></dt>
                <dd>
                    <span>{{resultatItem.url}}</span>
                </dd>
                <dt><span jhiTranslate="projetApp.resultatItem.postId">Post Id</span></dt>
                <dd>
                    <span>{{resultatItem.postId}}</span>
                </dd>
                <dt><span jhiTranslate="projetApp.resultatItem.resultatRecherche">Resultat Recherche</span></dt>
                <dd>
                    <div *ngIf="resultatItem.resultatRecherche">
                        <a [routerLink]="['/resultat-recherche', resultatItem.resultatRecherche?.id, 'view']">{{resultatItem.resultatRecherche?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/resultat-item', resultatItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
