<div>
    <h2 id="page-heading">
        <span jhiTranslate="global.menu.entities.source">Sources</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-source" [routerLink]="['/source/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="projetApp.source.home.createLabel">
            Create new Source
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <span jhiTranslate="global.field.filter">Filter</span> <input type="text" [(ngModel)]="filter" class="form-control">
    <div class="table-responsive" *ngIf="sources">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nom"><span jhiTranslate="projetApp.source.nom">Nom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="login"><span jhiTranslate="projetApp.source.login">Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="motPasse"><span jhiTranslate="projetApp.source.motPasse">Mot Passe</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="url"><span jhiTranslate="projetApp.source.url">Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="key"><span jhiTranslate="projetApp.source.key">Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataHandler"><span jhiTranslate="projetApp.source.dataHandler">Data Handler</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let source of (sources | pureFilter:filter:'nom' | orderBy:orderProp:reverse)">
                <td><a [routerLink]="['/source', source.id, 'view' ]">{{source.id}}</a></td>
                <td>{{source.nom}}</td>
                <td>{{source.login}}</td>
                <td>{{source.motPasse}}</td>
                <td>{{source.url}}</td>
                <td>{{source.key}}</td>
                <td>{{source.dataHandler}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/source', source.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/source', source.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'source', { outlets: { popup: source.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="sources && sources.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
